{% extends 'list.html' %}
{% load static %}

{% block head_list %}

    <script src="{% static 'list_material.js' %}"></script>

{% endblock %}

{% block card_header %}

    {% if entity == 'Material Vegetal' %}
        <i class="material-icons">view_list</i>
    {% endif %}

{% endblock %}

{% block columns %}
    <th class="text-md-center" style="width:5%; font-weight: 600"></th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Fecha de Recepción</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">N° de Control</th>
    <th class="text-md-center" style="width:17%; font-weight: 600">Genero y Especie</th>
    <th class="text-md-center" style="width:18%; font-weight: 600">Zona Geografica</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Fecha Recolección</th>
    <th class="text-md-center" style="width:15%; font-weight: 600">Cant. Recibida (Kg)</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}


{% endblock %}
